/Demo/__history/*
/Demo/Android64/*
*/__history/*
*.~*
/Demo/Linux64/*
*.dcu
*.vlb
*.dsk
/Demo/Win32/*
/Demo/Android/Debug/*
/ResizeDemo/Win32/*
/Demo/__recovery/*
/Demo/OSX64/*
*.delphilsp.json
*.local
*.dsv
